---
import Container from "../../components/Container.astro";
import Layout from "../../layouts/Layout.astro";
import produkter from "../produkter.astro";
import Img from "../../components/Img.astro";

export async function getStaticPaths() {
  const url = "https://lxnrjzuoeukkotupkhoe.supabase.co/rest/v1/jewellery";
  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4bnJqenVvZXVra290dXBraG9lIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODM2MzczODgsImV4cCI6MTk5OTIxMzM4OH0.270N-mktsbds2KmeJGyyHwaSJdY6p6mI5CWmbO4ZLzo",
    },
  };

  const response = await fetch(url, options);
  const data = await response.json();

  return data.map((etprodukt) => {
    return {
      params: { id: etprodukt.id },
      props: { etprodukt },
    };
  });
}

const { etprodukt } = Astro.props;
---

<Layout title={etprodukt.id}>
  <p><a href="/">Home</a> / <a href="/produkter">Shop</a></p>

  <section class="single_view">
    <div>
      <img
        src={`/img/${etprodukt.img}`}
        alt={"profilbillede af " + etprodukt.image}
      />
      <img
        src={`/img/${etprodukt.img3}`}
        alt={"profilbillede af " + etprodukt.image}
      />
      <img
        src={`/img/${etprodukt.img4}`}
        alt={"profilbillede af " + etprodukt.image}
      />
      <img
        src={`/img/${etprodukt.img5}`}
        alt={"profilbillede af " + etprodukt.image}
      />
    </div>

    <div class="produkt">
      <div class="titel">
        <h4>{etprodukt.productname}</h4>
        <h3>{etprodukt.description}</h3>
      </div>
      <div class="beskrivelse"></div>

      <div>
        <h2>{etprodukt.fullprice}</h2>
      </div>

      <div>
        <button class="button">
          <h2>Add to basket</h2>
        </button>
      </div>
    </div>
  </section>
</Layout>

<style>
  .produkt {
    display: grid;
  }
  .button {
    border: solid black 1px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  img {
    width: 10%;
  }

  .single_view {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .beskrivelse {
    display: grid;
  }

  a {
    font-family: "Cormorant", serif;
    text-decoration: none;
    color: black;
  }
</style>
